<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Admin, welcome spring boot security page!</h1>
<table th:border="1", th:object="${user}">
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>EMAIL</th>
        <th>ROLE</th>
    </tr>
    <td th:text="*{getId()}"></td>
    <td><p th:text="*{getUsername()}">VALUE</p></td>
    <td><p th:text="*{getEmail()}">VALUE</p></td>
    <td><p th:text="*{getStringUserAuthorities()}">VALUE</p></td>
    </tr>

</table>
<br/>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="LOGOUT"/>
</form>
</body>
</html>