<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div>
    <table th:border="1">
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>EMAIL</th>
            <th>ROLE</th>
            <th>ACTION</th>
        </tr>
        <tr th:each="userss : ${user}">

            <td><p th:text="${userss.getId()}"></p></td>

            <td><a th:href="@{users/user_info/{id}(id=${userss.getId()})}"><p th:text="${userss.getUsername()}"></p>
            </a></td>

            <td><p th:text="${userss.getEmail()}"></p></td>

            <td><p th:text="${userss.getStringUserAuthorities()}"></p></td>

            <td>
                <form th:method="GET" th:action="@{/admin/edit/{id}(id=${userss.getId()})}">
                    <input type="submit" value="Edit"/>
                </form>


                <form th:method="DELETE" th:action="@{/admin/delete/{id}(id=${userss.getId()})}">
                    <input type="submit" value="Delete"/>
                </form>
            </td>
        </tr>

    </table>
</div>
<br/>
<hr/>

<form th:method="GET" th:action="@{/admin/new}">
    <input type="submit" value="Add user"/>
</form>
<br/>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="LOGOUT"/>
</form>
</body>
</html>